:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ol,
ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font-family);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*================= COMPONENTS =================*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.menu-element.active,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid tomato; */
}
/*================= /COMPONENTS/ =================*/

/*================= HEADER =================*/
header {
  border-bottom: 1px solid #ececec;
}

.header {
  height: 80px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-element {
  color: var(--accent-color);
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-element {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:last-child {
  margin-left: 50px;
}

.header-contacts-element {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/*================= /HEADER =================*/

/*================= MAIN =================*/
/*================= HERO =================*/

.hero {
  text-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  display: block;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  padding: 10px 32px;
  min-height: 50px;
  min-width: 216px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/*================= /HERO =================*/

/*================= FEATURES =================*/
.features-list {
  display: flex;
  gap: 30px;
}

.features-list-item {
  width: 270px;
}

.features-description-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features-description {
  line-height: 1.71;
}
/*================= /FEATURES =================*/

/*================= WORK =================*/
.work {
  padding-top: 0;
}

.work-list {
  display: flex;
  gap: 30px;
}
/*================= /WORK =================*/

/*================= TEAM =================*/
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-member {
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-photo {
  margin-bottom: 30px;
}

.team-member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*================= /TEAM =================*/

/*================= PORTFOLIO =================*/
.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  border: transparent;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-white-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-item {
  flex-basis: calc((100% - 90px) / 3);
}

.project-info {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.88;
}
/*================= /PORTFOLIO =================*/
/*================= /MAIN =================*/

/*================= FOOTER =================*/
footer {
  height: 252px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.address-text {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.footer-contacts-element {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-element:not(:last-child) {
  margin-bottom: 9px;
}
/*================= /FOOTER =================*/
